:root {
    --primary: #FFD460;
    --secondary: #393E46;
}

body {
    font-family: cursive;
    margin: 0;
}

main {
    margin: auto;
    padding: 1rem;
    max-width: 600px;
}

nav {
    background-color:var(--primary);
    color:var(--secondary);
    padding: 1rem;
    text-align: center;
}

.navbar h1 {
    font-size: 2rem;
}

#txtinput {
    box-sizing: border-box;
    display: block;
    width: 100%;
    min-height: 20vh;
    margin-top: 2rem;
    font-size: large;
}

#btn {
    background-color: var(--primary);
    color: var(--secondary);
    border: none;
    margin: 1rem 0rem;
    font-family: cursive;
    padding: 1rem 2rem;
    font-size: large;
}

#outputmsg {
    padding:1rem;
    margin-top: 1rem;
    box-sizing: border-box;
    width: 100%;
    min-height: 10vh;
    max-height: 20vh;
    overflow: scroll;
    border: 1px solid var(--secondary);
    margin-bottom: 1rem;
}

footer {
    color: var(--secondary);
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 1rem;
    background-color: var(--primary);
    text-align: center;
}

footer p {
    max-width: 600px;
    margin: auto;
}

@media screen and (max-width: 700px) {
    footer p {
        max-width: 300px;
        margin: auto;
    }

}